*
{
    margin: 0;
    padding: 0;
}

/* HeaderSection CSS starts here  */

#HeaderSection 
{
    height: 117.5vh;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #ededed;
}

#HeaderSection #Helper
{
    width: 50%;
    height: 117.5vh;
    margin: 0px auto;
    position: absolute;
    left: 0;
    background-color: white;
}

#HeaderSection #DivDescription
{
   width: 70%;
   margin: 0px auto;
   margin-top: 10.88%;
   position: relative;
   top: 44px;
   left: 20px;  
}

#HeaderSection #DivDescription h1
{
    /* font-size: 62px; */
    font-size: 3.83rem;
    font-weight: 300;
    letter-spacing: -3px;
}

#HeaderSection #DivDescription .p1
{
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 35px;
    margin-top: 8px;
    word-spacing: 1.2px;
    line-height: 1.7;
}

#HeaderSection #DivDescription .p2
{
    font-size: 17.8px;
    font-weight: 300;
    line-height: 1.64;
    word-spacing: -0.2px;
}

#HeaderSection #DivImg
{
    height: 100vh;
    background: url("./images/background1.jpg");
    background-repeat: no-repeat;
    background-size: 84% 100%;
    background-position: right;
    padding: 55px 0px;
}

/* HeaderSection CSS ends here  */

/* SpotLightSection1 CSS starts here  */

.spotlight
{
    height: 530px;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #ededed;
}

.spotlight #DivSpotLight1Img
{
    display: inline-block;
    background-color: rgb(233, 67, 67);
    height:530px;
    width: 35%;
    background: url("./images/spotlight1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -180px 0px;
}

.spotlight #SpotLightHelper
{
    width: 62%;
    height: 530px;
    display: inline-block;
    vertical-align: top;
     /* This is happening because the default vertical-align for a inline block element is baseline*.
    This image from CSS Tricks helps to demonstrate the baseline of text:
    to solve this problem we have to use vertical-align:top;
    */
}

.spotlight #DivSpotLightDescription
{
    width: 76%;
    height: 77%;
    margin: 0px auto;
    background-color: white;
    margin-top: 122px;
    margin-bottom:4px;
    margin-left: 125px;
}

.spotlight #DivSpotLightDescription h1
{
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 16px;
    letter-spacing: -1px;
}

.spotlight #DivSpotLightDescription p
{
    font-weight: 300;
    font-size: 17.6px;
    line-height: 1.6;
    word-spacing: 0.05px;
}

/* SpotLightSection1 CSS ends here  */

/* SpotLightSection2 CSS starts here  */

.spotlight #DivSpotLight2Img
{
    display: inline-block;
    height:530px;
    width: 35%;
    background: url("./images/spotlight2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -180px 0px;
    position: absolute;
    right: 0;
}

/* SpotLightSection2 CSS ends here  */

/* SpotLightSection3 CSS starts here  */

.spotlight #DivSpotLight3Img
{
    display: inline-block;
    height:530px;
    width: 35%;
    background: url("./images/spotlight3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -180px 0px;
}

/* SportLightSection3 CSS ends here  */

/* GallerySection CSS starts here  */

#GallerySection
{
    width: 100%;
    min-height: 430px;
    font-family: 'Source Sans 3', sans-serif;
}

#GallerySection #GalleryDescription
{
    height: 60%;
    margin:auto;
    padding: 125px 100px 0px 100px;
    text-align: center;
}

#GallerySection #GalleryDescription h1
{
    font-weight: 300;
    font-size: 37px;
    margin-bottom: 13px;
}

#GallerySection #GalleryDescription p
{
    font-weight: 300;
    line-height: 1.7;
    font-size: 17.8px;
    margin-bottom: 120px;
}

#GallerySection #GallerySlider
{
  display: flex;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

#GallerySection #GallerySlider .image:hover
{
   height: 278px;
   
}

#GallerySection #GallerySlider .image
{
   height: 278px;
   animation-name: movingSlider;
   animation-duration: 7s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
   animation-direction: alternate-reverse;
}

@keyframes movingSlider {
    
    from
    {
        transform: translate(0px);
    }
    to
    {
        transform: translate(-3000px);
    }
}


/* GallerySection CSS ends here  */


/* ItemSection CSS starts here  */

#ItemSection 
{
    font-family: 'Source Sans 3', sans-serif;
    width: 100%;
    margin-bottom: 120px;
}

#ItemSection #ItemSectionDescription
{
    text-align: center;
    padding: 129px 30px 20px 30px;
}

#ItemSection #ItemSectionDescription h1
{
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 13px;
    letter-spacing: -1px;
}

#ItemSection #ItemSectionDescription p
{
    font-weight: 300;
    line-height: 1.7;
    font-size: 17.8px;
    margin-bottom: 33px;
}

#ItemSection #ItemSectionIcon
{
    width: 70%;
    margin: 0px auto;
    text-align: center;
}

#ItemSection #ItemSectionIcon div
{
    display: inline-block;
    width: 22vw;
    height: 40vh;
    text-align: center;
    padding-top: 38px;
}

#ItemSection #ItemSectionIcon .one
{
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-right: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .four
{
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-right: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .seven
{
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-right: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .ten
{
    border-right: 1px solid #cccccc;
    padding-right: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .two
{
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-left: -3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .five
{
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-left: -3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .eight
{
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-left: -3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .eleven
{
    border-right: 1px solid #cccccc;
    margin-left: -3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .three
{
    border-bottom: 1px solid #cccccc;
    margin-left: -3px;
    padding-left: 10px ;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .six
{
    border-bottom: 1px solid #cccccc;
    margin-left: -3px;
    padding-left: 10px ;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .nine
{
    border-bottom: 1px solid #cccccc;
    margin-left: -3px;
    padding-left: 10px ;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon .twelve
{
    margin-left: -3px;
    padding-left: 10px ;
    padding-bottom: 50px;
}

#ItemSection #ItemSectionIcon div i
{
    padding: 18px 16px;
    border: 1px solid #d5d5d5;
    border-radius: 100%;
    font-size: 23px;
    font-weight: 300;
}

#ItemSection #ItemSectionIcon div .fa-floppy-o
{
    padding: 18px 18px;
}

#ItemSection #ItemSectionIcon div .fa-cog
{
    padding: 18px 19px;
}

#ItemSection #ItemSectionIcon div .fa-paper-plane-o
{
    padding: 18px 18.2px;
}

#ItemSection #ItemSectionIcon div .fa-television
{
    font-weight: 900;
}

#ItemSection #ItemSectionIcon div .fa-refresh
{
   padding: 18px 19px;
}

#ItemSection #ItemSectionIcon div .fa-hashtag
{
   padding: 18px 18px;
   font-weight: 100;
}

#ItemSection #ItemSectionIcon div .fa-envelope-o
{
   padding: 18px 18px;
   font-weight: 100;
}

#ItemSection #ItemSectionIcon div .fa-leaf
{
   padding: 18px 18px;
   font-weight: 100;
}



#ItemSection #ItemSectionIcon div .fa-refresh
{
   padding: 18px 19px;
}

#ItemSection #ItemSectionIcon div .fa-bolt
{
   padding: 18px 24px;
   font-size: 23px;
   font-weight: 900;
}

#ItemSection #ItemSectionIcon div h1
{
    font-weight: 300;
    font-size: 26px;
    padding: 17.4px 0px 18px 0px;
    letter-spacing: -0.9px;
}

#ItemSection #ItemSectionIcon div p
{
    font-weight: 300;
    font-size: 17.5px;
    line-height: 1.5;
}

/* ItemSection CSS ends here  */


/* FooterSection CSS starts here  */

#FooterSection
{
    width: 100%;
    min-height: 172px;
    text-align: center;
    border-top: 1px solid #ededed;
    padding-top: 100px;
    font-family: 'Source Sans 3', sans-serif;

}

#FooterSection ul li
{
    display: inline-block;
    padding: 12px;
    margin: 0px 6px;
    margin-bottom: 35px;
    border: 1px solid #cccc;
    border-radius: 100%;
}

#FooterSection ul li .fa-twitter
{
    padding: 3px 4px;
}

#FooterSection ul li .fa-facebook
{
    padding: 3px 6.5px;
}

#FooterSection ul li .fa-instagram
{
    padding: 3px 4.5px;
}

#FooterSection ul li .fa-linkedin-square
{
    padding: 3px 4.5px;
}

#FooterSection ul li .fa-envelope-o
{
    padding: 3px 4px;
}

#FooterSection p
{
    font-weight: 300;
}


/* FooterSection CSS ends here  */